<ion-view title="Expense" ng-controller="ExpenseReportCtrl as vm">
  <ion-content>
    <div class="list list-inset">
      <label class="item expense-avatar item-input" ng-click="vm.takePicture()">
        <img ng-src="{{vm.newExpense.imgSrc}}"/>
        <a class="padding right">
          <i class="camera-icon ion-android-camera"></i></a>
      </label>
      <label class="item item-input">
        <input type="text" ng-model="vm.newExpense.title" placeholder="Paid to">
      </label>
      <label class="item item-input">
        <input type="number" ng-model="vm.newExpense.amount" placeholder="0.0">
      </label>
      <label class="item item-input" ng-click="vm.datePicker()">
        {{vm.newExpense.date | date: 'shortDate'}}
        <input type="hidden" ng-model="vm.newExpense.date">
        <a class="padding" ng-click="">
          <i class="calendar-icon ion-calendar"></i></a>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Category
        </div>
        <select>
          <option selected>Meals</option>
          <option>Hotel</option>
          <option>Travel</option>
          <option>Gas</option>
        </select>
      </label>
      <button class="button button-block button-balanced" ng-click="vm.addExpenseItem()">
        Save Expense</button>
    </div>
  </ion-content>
</ion-view>
