<ion-view name="login-view" title={{vm.selectedReport.title}} ng-controller="ExpenseReportCtrl as vm">
  <ion-nav-buttons side="secondary">
    <a class="button" ui-sref="glaven.expenses.add({id: vm.selectedReport.id})">
      <i class="icon ion-plus-round"></i>Expense
    </a>

  </ion-nav-buttons>
  <ion-content>
    <div class="row row-center" ng-show="!vm.selectedReport.hasExpenses()">
      <div class="col col-center empty-report-icon">
        <img src="assets/img/empty-report.png" alt="">
        <p class="padding">0 expenses items.</p>
      </div>
    </div>
    <div class="list">

      <div ng-repeat="expense in vm.selectedReport.getExpenses()" class="item expense-list-item">
        <div class="row">
          <div class="col col-20 expense-avatar">
            <img ng-src="{{expense.imgSrc}}" />
          </div>
          <div class="col col-50">
            <h2>{{ expense.title }}</h2>
          </div>
          <div class="col col-20 highlight-text">
            {{ expense.amount | currency}}
            <p>
              <small>{{ expense.date | date: 'shortDate' }}</small>
            </p>
          </div>
        </div>
      </div>
    </div>
</ion-view>
