<ion-view title="" name="login-view" ng-controller="ExpenseReportListCtrl as vm">
  <ion-nav-buttons side="secondary">
    <label class="item item-input">
      <input type="text" ng-model="vm.newReport.title" class="fancy-input-text" placeholder="New Report">
    </label>&nbsp;
    <button class="button" ng-click="vm.addExpenseReport()">
      <i class="icon ion-plus-round"></i> Add
    </button>

  </ion-nav-buttons>
  <ion-content>
    <div class="list">

      <a ng-repeat="report in vm.expenseReports" href="#/expense/{{report.id}}/items" class="item expense-list-item">
        <div class="row">
          <div class="col col-10">
            <i class="report-icon ion-ios-paper"></i>
          </div>
          <div class="col col-67">
            <h2>{{ report.title }}</h2>
          </div>
          <div class="col col-20 highlight-text">
            {{ report.totalAmount() | currency}}
          </div>
        </div>
      </a>
    </div>
</ion-view>
