<ion-tabs class="tabs-icon-top tabs-positive">

  <!-- Expenses View -->
  <ion-tab title="Reports" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/expense/reports">
    <ion-nav-view name="tab-expenseReports"></ion-nav-view>
  </ion-tab>

  <!-- Charts View -->
  <ion-tab title="Charts" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/expense/charts">
    <ion-nav-view name="tab-Expenses"></ion-nav-view>
  </ion-tab>
</ion-tabs>
