/* TODO: Convert to global and module specific sass files */

.bgView {
  background: #2DAAE2;
}
.login-button.button.button-light {
  border-color: #0084AD;
  background-color: #0084AD;
  color: #FFF;
}
map {
  display: block;
  width: 100%;
  height: 100%;
}
.scroll {
  height: 100%;
}
.angular-google-map-container {
  display: block;
  width: 100%;
  height: 100%;
}
.angular-google-map {
  display: block;
  width: 100%;
  height: 100%;
}
.marker-labels {
  color: black;
  background-color: white;
  font-family: "Lucida Grande", "Arial", sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  border: 1px solid black;
  white-space: nowrap;
  padding-left: 3px;
  padding-right: 3px;
}
.map-avatar {
  border-radius: 50% 50% 50% 50%;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}
.app {
  text-align: center;
}
.app .box {
  margin: 10px;
  width: 100px;
  height: 100px;
  background: #14BBF0;
  box-shadow: 5px 5px 0px #D1D1D1;
  border-radius: 5px;
  ;
}
.app .app-label {
  display: inline-block;
  vertical-align: middle;
  color: #FFFFFF;
}
.app h4, .app i {
  color: #FFFFFF;
}
.call-button {
  width: 50px;
  max-height: 50px;
  top: 12px !important;
}
input[type="password"].large-input, input[type="text"].large-input {
  font-size: 18px;
  color: #0084AD;
}
.expense-list-item {
  padding: 0;
}
.expense-list-item .report-icon {
  font-size: 25px;
  color: #0084AD;
}
.expense-list-item .highlight-text {
  color: #0084AD;
  font-weight: bold;
}
.expense-avatar > img:first-child {
  top: 16px;
  left: 16px;
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  height: 100%;
  border-radius: 5%;
}
.empty-report-icon > img {
  top: 16px;
  left: 16px;
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  height: 100%;
}

 input[type="text"].fancy-input-text {
  font-size: 15px;
  color: #377D6A;
  border: none;
  transition: border 0.3s;
}

.calendar-icon, .camera-icon {
  color: #99C342;
  font-size: 25px;
}
