<ion-view title="People List">
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="vm.loadPeople(true)" spinner="ripple"></ion-refresher>
    <div class="list">
      <div swipe-open-email='{{person.email}}' ng-repeat="person in vm.people">
        <div class="item item-avatar item-icon-right" href="#">
          <img ng-src="{{person.picture.thumbnail}}">
          <h2>{{person.name.first | titleCase}} {{person.name.last | titleCase}}</h2>
          <p>Busy here, I'm in devinar.</p>
          <a class="call-button button button-calm button-medium ion-ios-telephone icon icon-accessory" href="tel:{{person.phone}}">
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
