<ion-view title="People Cards">
  <ion-content>
    <div class="list">
      <div ng-repeat="person in vm.people">
        <div class="card">
          <a class="item item-thumbnail-left" ng-click="vm.onPersonClicked(person.username)">
            <img ng-src="{{person.picture.thumbnail}}">
            <h2>{{person.name.first | titleCase}} {{person.name.last | titleCase}}</h2>
            <p><i class="icon ion-ios-telephone"></i>    {{person.phone}}</p>
            <p><i class="icon ion-email"></i>    {{person.email}}</p>
            <p><i class="icon ion-location"></i>    {{person.location.city | titleCase}}, {{person.location.state | titleCase}}</p>
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
