<ion-tabs class="tabs-icon-top tabs-positive" ng-controller="PeopleCtrl as vm">

  <!-- List View -->
  <ion-tab title="List" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/people/list">
    <ion-nav-view name="tab-peopleList"></ion-nav-view>
  </ion-tab>

  <!-- Card View -->
  <ion-tab title="Card" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/people/card">
    <ion-nav-view name="tab-peopleCard"></ion-nav-view>
  </ion-tab>

  <!-- Map View -->
  <ion-tab title="Map" icon-off="ion-ios-location-outline" icon-on="ion-ios-location" href="#/people/map">
    <ion-nav-view name="tab-peopleMap"></ion-nav-view>
  </ion-tab>
</ion-tabs>
