<ion-view title="People Map">
  <ion-content>
    <ui-gmap-google-map center="vm.map.center" zoom="vm.map.zoom">
      <ui-gmap-marker ng-repeat="personMarker in vm.peopleMapMarkers"
        coords="personMarker.map.coordinates"
          idKey="$index"
          options="personMarker.map.options">
          <ui-gmap-window>
            <div>
              <img ng-src="{{personMarker.profile.thumbnail}}" class="map-avatar">
              {{personMarker.profile.fullname | titleCase}}
            </div>
          </ui-gmap-window>
      </ui-gmap-marker>
    </ui-gmap-google-map>
  </ion-content>
</ion-view>
