<ion-view title="{{vm.selectedPerson.name.first | titleCase}} {{vm.selectedPerson.name.last | titleCase}}">
  <ion-content has-tabs="true">
    <div class="list card">
      <div class="item item-body">
        <img class="full-image" src="{{vm.selectedPerson.picture.large}}">
        <p>
          As a professional photographer, Judy takes a lot of pride in her pictures. Wherever she goes, she brings her pictures with her, to show off her work. “Wow”, said her host Sandra, “these are really nice pictures, you must have a great camera.” Fuming mad at the implication that her whole talent came from her camera. Judy waited until the end of the meal and then thanked her host, “thank you the meal was delicious,” and then as if an afterthought added, “you must have great pots.”
Read more at:
        </p>
      </div>
      <div class="item">
        <p>
          <a href="#" class="subdued"><i class="icon ion-ios-telephone"></i>    {{vm.selectedPerson.phone}}</a>
        </p>
        <p>
          <a href="#" class="subdued"><i class="icon ion-ios-email"></i>    {{vm.selectedPerson.email}}</a>
        </p>
      </div>
      <div class="item">
        <h2><i class="ion-ios-home"></i>{{vm.selectedPerson.location.street | titleCase}}</h2>
        <h2>{{vm.selectedPerson.location.city | titleCase}}, {{vm.selectedPerson.location.state | titleCase}} - {{vm.selectedPerson.location.zip}}</h2>
      </div>
    </div>
  </ion-content>
</ion-view>
