<ion-view view-title="Glaven" name="login-view" hide-back-button="true" class="bgView" hide-nav-bar="true" ng-controller="LoginCtrl as vm">
  <ion-content class="padding">
    <!-- <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="vm.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="vm.password">
          </label>
      </div> -->
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Username</span>
        <input type="text" class="large-input" ng-model="vm.username">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" class="large-input" ng-model="vm.password">
      </label>
    </div>
    <button class="button button-block button-light login-button" ng-click="vm.login()">Login</button>
    <button class="button button-block button-light login-button" ng-click="vm.googleLogin()">
      <i class="icon ion-social-google"></i> Login with Google
    </button>
    <button class="button button-block button-light login-button" ng-click="vm.facebookLogin()">
      <i class="icon ion-social-facebook"></i> Login with Facebook
    </button>
  </ion-content>
</ion-view>
