<ion-view view-title="Dashboard" name="dashboard-view" ng-controller="DashboardCtrl as vm">
  <ion-content has-header="true">
    <div class="row">
      <div class="col app">
        <div class="box" app-open-animate="glaven.people.list">
          <h1><i class="ion-ios-people"></i></h1>
          <h4>People</h4>
        </div>
      </div>
      <div class="col app" app-open-animate="glaven.expenses.reports">
        <div class="box">
          <h1><i class="ion-cash"></i></h1>
          <h4>Expenses</h4>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
