<ion-side-menus>
  <ion-side-menu-content drag-content="false">
    <ion-nav-bar animation="nav-title-slide-ios7" class="bar-balanced" back-button-type="button-icon" back-button-icon="ion-arrow-left-c">
      <ion-nav-back-button class="button-clear">
        <i class="ion-arrow-left-c"></i> Back
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="mainContent"></ion-nav-view>
  </ion-side-menu-content>

  <!-- Left menu -->
  <ion-side-menu side="left">
    <header class="bar bar-header bar-balanced">
      <h1 class="title">Neogov Demo</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <!-- <ion-item nav-clear menu-close ui-sref="glaven.prople">People</ion-item> -->
        <!-- <ion-item nav-clear menu-close ui-sref="glaven.prople">People</ion-item> -->
        <ion-item nav-clear menu-close ui-sref="glaven.dashboard">
          <i class="ion-home"></i> Dashboard</ion-item>
        <ion-item nav-clear menu-close ui-sref="glaven.people.list">
          <i class="ion-person-stalker"></i> People</ion-item>
        <ion-item nav-clear menu-close ui-sref="glaven.expenses.reports">
          <i class="ion-cash"></i> Expenses</ion-item>
        <ion-item nav-clear menu-close ui-sref="login">
          <i class="ion-log-out"></i> Logout</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
